# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
q
server/knowledge-72d21-firebase-adminsdk-pc5sp-21f5cc0385.json
server/knowledge-72d21-firebase-adminsdk-pc5sp-f043f98d9b.json
server/routes/docuploads/TEST1.docx
